# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados pelo Hyperledger Fabric
hybrid-architecture/fabric-network/crypto-config/
hybrid-architecture/fabric-network/config/
hybrid-architecture/fabric-network/bin/
*.tar.gz
*.block
*.tx

# Arquivos temporários do Python
__pycache__/
*.pyc
venv/
*.env

# Logs e arquivos de saída
*.log
# Vendor do Go (dependências externas)
vendor/
**/vendor/

testing/src/results
testing/results

#tcc
TCC
TCC/*
*.tex

#resultados
testing\go-api\tests\performance\results_go
testing\go-api\tests\performance\results_go/*