networks:
  log-net:
    name: tcc_log_network
    external: true

services:
  postgres-primary:
    image: postgres:15
    container_name: postgres-primary
    environment:
      - POSTGRES_USER=loguser
      - POSTGRES_PASSWORD=logpass
      - POSTGRES_DB=logdb
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    volumes:
      - postgres-primary-data:/var/lib/postgresql/data
      - ./scripts/init-primary-db.sh:/docker-entrypoint-initdb.d/init-primary-db.sh
      - ./scripts/1-init-logdb.sql:/docker-entrypoint-initdb.d/1-init-logdb.sql
    networks:
      - log-net
    restart: unless-stopped
    command: >
      postgres
      -c wal_level=replica
      -c hot_standby=on
      -c max_wal_senders=10
      -c max_replication_slots=10
      -c hot_standby_feedback=on

  postgres-standby:
    image: postgres:15
    container_name: postgres-standby
    environment:
      - POSTGRES_USER=loguser
      - POSTGRES_PASSWORD=logpass
      - POSTGRES_DB=logdb
    ports:
      - "5433:5432"
    volumes:
      - postgres-standby-data:/var/lib/postgresql/data
    networks:
      - log-net
    depends_on:
      - postgres-primary
    restart: unless-stopped
    entrypoint: >
      bash -c "
      echo 'Aguardando primary ficar disponível...';
      until PGPASSWORD=logpass pg_isready -h postgres-primary -p 5432 -U loguser; do
        echo 'Aguardando...';
        sleep 5;
      done;
      
      if [ ! -f /var/lib/postgresql/data/PG_VERSION ]; then
        echo 'Configurando replicação...';
        rm -rf /var/lib/postgresql/data/*;
        PGPASSWORD=logpass pg_basebackup -h postgres-primary -U loguser -D /var/lib/postgresql/data -Fp -Xs -P -R;
        chown -R postgres:postgres /var/lib/postgresql/data;
        chmod 0700 /var/lib/postgresql/data;
        echo 'Replicação configurada!';
      fi;
      
      echo 'Iniciando PostgreSQL Standby...';
      exec docker-entrypoint.sh postgres;
      "

volumes:
  postgres-primary-data:
  postgres-standby-data:
